@media (min-width: 1200px) {
  .container-lg {
      max-width: 800px !important;
  }
}

.nav, .username {
  font-size: 1.1rem;;
}

#sidebar-container {
  width: 250px;
}

#sidebar .fixed-top {
  right: auto;
}

#search {
  max-width: 350px;
}