@media (min-width: 1200px) {
  .container-lg {
      max-width: 800px !important;
  }
}

body, .form-select, .form-control {
  /*font-family: 'Roboto', sans-serif;*/
  font-weight: 400;
  color: var(--bs-secondary-color);
}

h1 {
  font-weight: 200;
  color: var(--bs-body-color);
}

.card, .list-group-item {
  color: var(--bs-secondary-color);
}

.badge .bi {
  font-size: 0.75rem;
}

.btnAccept {
  padding-top: 0.3rem;
  padding-bottom: .2rem;
}

.nav, .username {
  font-size: 1.1rem;
}

#sidebar-container {
  width: 250px;
  height: 100vh;
}

#content-container {
  height: 100vh;
  overflow: scroll;
}

#search {
  max-width: 350px;
}